<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VinDemo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    @Html.ActionLink("VinDemo", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">@Html.ActionLink("Members", "Index", "Members", new {@class = "nav-link active"})</li>
        </ul>
    </div>
</nav>

<div class="container body-content">
    <div id="bodyContent">
        @RenderBody()
    </div>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - VinDemo</p>
    </footer>
</div>

<div style="bottom: 0; display: none; left: 0; position: absolute; right: 0; top: 0; z-index: 2000" id="loadingSpinner">
    <div style="background-color: #081314; bottom: 0; left: 0; opacity: 0.6; position: absolute; right: 0; top: 0;"></div>
    <div style="background-color: #081314; color: #eeeeee; font-size: 28px; font-weight: 300; left: 0; position: absolute; top: 20px; width: 330px;">
        <img src="~/Content/Wedges-3s-100px.gif" alt="Loading"/> Loading ...
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryajax")
@RenderSection("scripts", required: false)
</body>
</html>